/*Animation accueil chifoumi*/

#imgChi {
    animation: Chi ease infinite 6s ;
}

#imgFou {
    animation: Fou ease infinite 6s ;
}

#imgMi {
    animation: Mi ease infinite 6s ;
}

@keyframes Chi {
    0% {
        transform: translate(-150%,20%);
        z-index: 1;
    }
    33%{
        transform: translate(0%,10%);
        z-index: 2;
    }
    66%{
        transform: translate(150%,20%);
        z-index: 1;
    }
    100%{
        transform: translate(-150%,20%);
        z-index: 2;
    }
}

@keyframes Fou {
    0% {
        transform: translate(150%,20%);
        z-index: 1;
    }
    33%{
        transform: translate(-150%,20%);
        z-index: 1;
    }
    66%{
        transform: translate(0%,10%);
        z-index: 2;
    }
    100%{
        transform: translate(150%,20%);
        z-index: 1;
    }
}

@keyframes Mi {
    0% {
        transform: translate(0%,10%);
        z-index: 2;
    }
    33%{
        transform: translate(150%,20%);
        z-index: 1;
    }
    66%{
        transform: translate(-150%,20%);
        z-index: 1;
    }
    100%{
        transform: translate(0%,10%);
        z-index: 2;
    }
}
/*Animation Accueil Reversi*/
#imgReversi {
    animation: Reversi linear infinite 3s ;
}
@keyframes Reversi {
    10% {
        transform: rotate(-10deg);
    }
    15% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    25% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    35% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(0deg);
    }
}
/*CHIFOUMI*/

.imgChifoumi:hover{
    animation: card 0.2s linear infinite;
}



@keyframes card {
    33% {
        transform: rotate(2deg);
    }
    66% {
        transform: rotate(-2deg);
    }
}
